<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>expression</key>
		<array>
			<string>001</string>
			<string>010</string>
			<string>005</string>
			<string>008</string>
			<string>019</string>
		</array>
		<key>userName</key>
		<string>xiao66guo</string>
		<key>content</key>
		<string>🐻人班长，我💖爱的女人已离我远去</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.jpg</string>
		<key>expression</key>
		<array>
			<string>009</string>
			<string>017</string>
			<string>020</string>
		</array>
		<key>userName</key>
		<string>小影</string>
		<key>content</key>
		<string>你永远留在我的💖中</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.jpg</string>
		<key>expression</key>
		<array>
			<string>007</string>
			<string>008</string>
			<string>011</string>
			<string>012</string>
		</array>
		<key>userName</key>
		<string>🐩头老高</string>
		<key>content</key>
		<string>你们是什么？菜🐦，因为我们傻，因为我们笨</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.jpg</string>
		<key>expression</key>
		<array>
			<string>006</string>
			<string>004</string>
			<string>018</string>
			<string>016</string>
			<string>002</string>
		</array>
		<key>userName</key>
		<string>🐻人班长</string>
		<key>content</key>
		<string>你看看你们这熊样，一群🐻人</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5.jpg</string>
		<key>expression</key>
		<array>
			<string>003</string>
			<string>004</string>
			<string>005</string>
		</array>
		<key>userName</key>
		<string>苗连</string>
		<key>content</key>
		<string>随随便便来一个人就把你们给灭了，老炮，你站那干嘛呢，挺尸呢</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6.jpg</string>
		<key>expression</key>
		<array>
			<string>007</string>
			<string>009</string>
			<string>006</string>
			<string>008</string>
			<string>010</string>
		</array>
		<key>userName</key>
		<string>☂️兵</string>
		<key>content</key>
		<string>我可是最优秀的战略狙击手，不要怀疑一个战略狙击手的眼光</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7.jpg</string>
		<key>expression</key>
		<array>
			<string>013</string>
			<string>011</string>
			<string>010</string>
			<string>012</string>
		</array>
		<key>userName</key>
		<string>西伯利亚🐺</string>
		<key>content</key>
		<string>伞兵，你是最好的战略狙击手吗，把✈️给我打下来</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8.jpg</string>
		<key>expression</key>
		<array>
			<string>014</string>
			<string>015</string>
			<string>016</string>
			<string>017</string>
			<string>018</string>
		</array>
		<key>userName</key>
		<string>二牛</string>
		<key>content</key>
		<string>刚🏃的那个人肯定是小庄，只有他最能🏃了</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>9.jpg</string>
		<key>expression</key>
		<array>
			<string>014</string>
			<string>015</string>
			<string>016</string>
			<string>017</string>
			<string>018</string>
		</array>
		<key>userName</key>
		<string>秃鹫</string>
		<key>content</key>
		<string>这年头，旱的旱死，涝的涝死</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10.jpg</string>
		<key>expression</key>
		<array>
			<string>014</string>
			<string>015</string>
			<string>016</string>
			<string>017</string>
			<string>018</string>
		</array>
		<key>userName</key>
		<string>草原🐺</string>
		<key>content</key>
		<string>刚🏃的那个人肯定是小庄，只有他最能跑了</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>11.jpg</string>
		<key>expression</key>
		<array>
			<string>014</string>
			<string>015</string>
			<string>016</string>
			<string>017</string>
			<string>018</string>
		</array>
		<key>userName</key>
		<string>森林🐺</string>
		<key>content</key>
		<string>孤🐺B组已准备完毕，随时出发</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>12.jpg</string>
		<key>expression</key>
		<array>
			<string>014</string>
			<string>015</string>
			<string>016</string>
			<string>017</string>
			<string>018</string>
		</array>
		<key>userName</key>
		<string>灰🐺</string>
		<key>content</key>
		<string>这都是什么兵啊，做🍚的，不知道后面还有没有养🐖的</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
